@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h4> Developer: @ViewData["Developer"]</h4>

<address>
    <strong>More information:</strong> <a href="https://www.linkedin.com/in/kevinsantosguedes/" target="_blank">Kevin Santos Guedes - LinkedIn</a><br />
</address>

