@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/kevinsantosguedes/" target="_blank">Kevin Santos Guedes - LinkedIn</a><br />
    <strong>Marketing:</strong> <a href="mailto:kevinguedes@edu.unifor.br">Email</a>
</address>
